extends header

block content

    title Dashboard
    center
        p.lead.mb-3 Welcome #{current_user.first_name}
        form(method='GET' action='/dashboard')
            div.form-inline
                input.form-control(type='text', name='search')
                button.btn.btn-primary(type='submit') Search
        .sidebar-nav
            p
            li 
                a(href='/dashboard/jobs') All jobs
            li 
                a(href='/dashboard/tags') All tags
            li
                hr
            li 
                a(href='/dashboard/job/create') Post new job
            if (current_user.isAdmin == true)
                li 
                    a(href='/dashboard/tag/create') Create new tag

                //original featured job lists
            //if (jobs)
            //    li
            //        hr
            //    if (noMatch)
            //        h4 Search Results
            //    else
            //        h4 Featured Jobs
            //    each job in jobs
            //        dt
            //            a(href="/dashboard/job/"+job._id) #{job.title}
            //        dd #{job.description}
            //    h4 #{noMatch}
            //if (!noMatch)
            //    hr
            //    if (current_user.followed_tag.length>0)
            //        h4 Followed Tag
            //        each val in current_user.followed_tag
            //            a(href=val.url) #{val.name}
            //            |,


    .d-flex.justify-content-center

        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
            .carousel-inner
                if (jobs)
                    li
                        hr
                    if (noMatch)
                        h4 Search Results
                    else
                        h4 Featured Jobs
                    each job,i in jobs
                        if i == 0
                            .carousel-item.active
                                a(href="/dashboard/job/" + job._id)
                                    img.d-block.w-100(src='https://source.unsplash.com/random?sig=123/500x500', alt='First slide')
                                    .carousel-caption #{job.title}
                                         p #{job.description}
                            break

                        else
                            .carousel-item
                                a(href="/dashboard/job/" + job._id)
                                    img.d-block.w-100(src='https://source.unsplash.com/random?sig=random?sig=12/500x500', alt = 'Third Slide')
                                    .carousel-caption #{job.title}
                                        p #{job.description}
                if (!noMatch)
                    hr
                    if (current_user.followed_tag.length > 0)
                        h4 Followed Tag
                        each val in current_user.followed_tag
                            a(href=val.url) #{val.name}
                            | ,

                        //original no looping carousel
                //.carousel-item
                //    img.d-block.w-100(src='https://source.unsplash.com/random?sig=120/500x500', alt = 'Third Slide')
                //    .carousel-caption job.titl343

                //.carousel-item
                //    img.d-block.w-100(src='https://source.unsplash.com/random?sig=122/500x500', alt='Second slide')
                //    .carousel-caption job.2
                //.carousel-item
                //    img.d-block.w-100(src='https://source.unsplash.com/random?sig=124/500x500', alt = 'Third Slide')
                //    .carousel-caption job.titl343

                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

    //from https://bootsnipp.com/snippets/dlaKM
    .container.text-center.my-3
        h1 Bootstrap 4 Multiple Item Carousel
        #recipeCarousel.carousel.slide.img-fluid(data-ride='carousel')
            .carousel-inner.img-fluid(role='listbox')
                .carousel-item.row.no-gutters.active
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280/222/fff?text=1')
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280/444?text=2')
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280/888?text=3')
                .carousel-item.row.no-gutters
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280?text=5')
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280/555?text=6')
                    .col-4.float-left
                        img.img-fluid(src='http://placehold.it/350x280/333/fff?text=7')
            a.carousel-control-prev(href='#recipeCarousel' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#recipeCarousel' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next


