extends header

block content
    title Dashboard
    center
        p.lead.mb-3 Welcome #{current_user.first_name}
        form(method='GET' action='/dashboard')
            div.form-inline
                input.form-control(type='text', name='search')
                button.btn.btn-primary(type='submit') Search
        .sidebar-nav
            p
            li 
                a(href='/dashboard/jobs') All jobs
            li 
                a(href='/dashboard/tags') All tags
            li
                hr
            li 
                a(href='/dashboard/job/create') Post new job
            if (current_user.isAdmin == true)
                li 
                    a(href='/dashboard/tag/create') Create new tag
            if (jobs)
                li
                    hr
                if (noMatch)
                    h4 Search Results
                else
                    h4 Featured Jobs
                each job in jobs
                    dt
                        a(href="/dashboard/job/"+job._id) #{job.title}
                    dd #{job.description}
                h4 #{noMatch}
            if (!noMatch)
                hr
                if (current_user.followed_tag.length>0)
                    h4 Followed Tag 
                    each val in current_user.followed_tag
                        a(href=val.url) #{val.name}
                        |,

    .d-flex.justify-content-center
        #carouselIndicators.carousel.slide(data-ride='carousel')
            ul.carousel-indicators
                li.active(data-target='#carouselIndicators', data-slide-to='0')
                li(data-target='#carouselIndicators', data-slide-to='1')
                li(data-target='#carouselIndicators', data-slide-to='2')

            .carousel-inner
                .carousel-item.active
                    img.d-block.w-20(src='https://source.unsplash.com/random?sig=123/500x500')
                .carousel-item
                    img.d-block.w-20(src='https://source.unsplash.com/random?sig=121/500x500')
                .carousel-item
                    img.d-block.w-20(src='https://source.unsplash.com/random?sig=122/500x500')
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

