extends header

block content

    title Dashboard
    center
        p.lead.mb-3 Welcome #{current_user.first_name}
        form(method='GET' action='/dashboard')
            div.form-inline
                input.form-control(type='text', name='search')
                button.btn.btn-primary(type='submit') Search
        .sidebar-nav
            p
            li 
                a(href='/dashboard/jobs') All jobs
            li 
                a(href='/dashboard/tags') All tags
            li
                hr
            li 
                a(href='/dashboard/job/create') Post new job
            if (current_user.isAdmin == true)
                li 
                    a(href='/dashboard/tag/create') Create new tag

                //original featured job lists
            //if (jobs)
            //    li
            //        hr
            //    if (noMatch)
            //        h4 Search Results
            //    else
            //        h4 Featured Jobs
            //    each job in jobs
            //        dt
            //            a(href="/dashboard/job/"+job._id) #{job.title}
            //        dd #{job.description}
            //    h4 #{noMatch}
            if (!noMatch)
                hr
                if (current_user.followed_tag.length>0)
                    h4 Followed Tag
                    each val in current_user.followed_tag
                        a(href=val.url) #{val.name}
                        |,


    .container.text-center.my-3
        h1 Bootstrap 4 Multiple Item Carousel
        #recipeCarousel.carousel.slide.img-fluid(data-ride='carousel')
            .carousel-inner.img-fluid(role='listbox')
                .carousel-item.row.no-gutters.active
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[0]._id)
                            img.img-fluid(src='http://placehold.it/350x280/222/fff?text=1')
                            carousel-caption #{jobs[0].title}
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[1]._id)
                            img.img-fluid(src='http://placehold.it/350x280/444?text=2')
                            carousel-caption #{jobs[1].title}
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[2]._id)
                            img.img-fluid(src='http://placehold.it/350x280/888?text=3')
                            carousel-caption #{jobs[2].title}
                .carousel-item.row.no-gutters
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[3]._id)
                            img.img-fluid(src='http://placehold.it/350x280?text=5')
                            carousel-caption #{jobs[3].title}
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[4]._id)
                            img.img-fluid(src='http://placehold.it/350x280/555?text=6')
                            carousel-caption #{jobs[4].title}
                    .col-4.float-left
                        a(href="/dashboard/job/"+jobs[5]._id)
                            img.img-fluid(src='http://placehold.it/350x280/333/fff?text=7')
                            carousel-caption #{jobs[5].title}

            //--------------YIRANNNNNNN---------------//
            //if (jobs)
            //    li
            //        hr
            //    if (noMatch)
            //        h4 Search Results
            //    else
            //        h4 Featured Jobs
            //    each job,i in jobs
            //        if i < 3
            //            .carousel-item.active
            //                a(href="/dashboard/job/" + job._id)
            //                    img.d-block.w-100(src='https://source.unsplash.com/random?sig=123/500x500', alt='First slide')
            //                    .carousel-caption #{job.title}
            //                        p #{job.description}
            //                .col-4.float-left
            //                        img.img-fluid(src='http://placehold.it/350x280/222/fff?text=1')
            //            break
            //
            //        else
            //            .carousel-item
            //                a(href="/dashboard/job/" + job._id)
            //                    img.d-block.w-100(src='https://source.unsplash.com/random?sig=random?sig=12/500x500', alt = 'Third Slide')
            //                    .carousel-caption #{job.title}
            //                        p #{job.description}



            a.carousel-control-prev(href='#recipeCarousel' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#recipeCarousel' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next




