extends header

block content
  title #{job.title}
  left-box-align
    h1 #{title}: #{job.title}
  
    p #[strong User:] 
        a(href=job.user.url) #{job.user.name}
    p #[strong Description:] #{job.description}
    p #[strong Tag:] 
        each val in job.tag
            .chip
                a.chip-text(href=val.url) #{val.name}
                //img(src='img_avatar.jpg' alt='Person' width='96' height='96')

                //span.closebtn(onclick="this.parentElement.style.display='none'") &times;
    hr
    if(current_user != null)
      if (current_user.url == job.user.url)
        p
          a(href=job.url+'/update') Update Job
        p
          a(href=job.url+'/delete') Delete Job
