extends header

block content
  title Update Job
  left-box-align
    h1 Update Job
    form(method='POST' action='')
        div.form-group
            label(for='title') Title:
            input#title.form-control(type='text', value = ''+job.title, placeholder='Title of the job', name='title', required='true')
        div.form-group
            label(for='description') Summary:
            input#summary.form-control(type='textarea', value = ''+job.description, placeholder='Brief description', name='description')
        div.form-group
            label Tag:
            div
              for tag in tags
                div(style='display: inline; padding-right:10px;').d-inline-block.check_tag
                  input.checkbox-input(type='checkbox', name='tag', id=tag._id, value=tag._id, checked=tag.checked )
                  label.h4.check_tag_font(for=tag._id) &nbsp;#{tag.name}&nbsp;
        div.form-group
        button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
