extends header

block content
  title ##{tag.name}

  left-box-align
    h1 Tag: #{tag.name}
  
    div(style='margin-left:20px;margin-top:20px')
        h4 Jobs
        dl
        each job in tag_jobs
            dt 
                a(href=job.url) #{job.title}
            dd #{job.description}
        else
            p This tag has no jobs.
        li
            hr
        h4 Users
        dl
        each user in tag_users
            dt 
                a(href=user.url) #{user.name}
        else
            p This tag has no users.
    if (current_user)
        hr
        p
            if(followed == false)
                a(href=tag.url+'/follow') Follow Tag
            else
                a(href=tag.url+'/unfollow') Unfollow Tag
        if (current_user.isAdmin == true)
            p
                a(href=tag.url+'/delete') Delete Tag
            p
                a(href=tag.url+'/update') Update Tag
