extends header

block content
  title ##{tag.name}

  left-box-align
    h1 Tag: #{tag.name}
  
    div(style='margin-left:20px;margin-top:20px')
        h4 Jobs
        dl
        each job in tag_jobs
            dt 
                a(href=job.url) #{job.title}
            dd #{job.description}
        else
            p This tag has no jobs.
        li
            hr
        h4 Users
        dl
        each user in tag_users
            dt 
                a(href=user.url) #{user.name}
        else
            p This tag has no users.
    if (current_user)
        hr
        p
            if(followed == false)
                a.btn.btn-primary.blue(href=tag.url+'/follow', style="width: 40%;") Follow Tag
            else
                a.btn.btn-primary.blue(href=tag.url+'/unfollow', style="width: 40%;") Unfollow Tag
        if (current_user.isAdmin == true)
            p
                a.btn.btn-primary(href=tag.url+'/delete', style="width: 40%; margin-top: -0.5em;") Delete Tag
            p
                a.btn.btn-primary(href=tag.url+'/update', style="width: 40%; margin-top: -0.5em;") Update Tag

    a.btn.btn-primary.sticky-button(href='/dashboard/jobs', style="width: 40%;") return to all tags