extends header

block content
  title #{user.name}
  center
    if (user.profile_img)
      img.img-responsive(src=''+ user.profile_img )
    h1 #{user.name}

    div(style='margin-left:20px;margin-top:20px')
    if (user.date_of_birth) 
      h4 Age
      dd #{user.age}    
    h4 Summary
    if (user.summary)
      dd #{user.summary}
    else
      dd This user has not updated his summary
    h4 E-mail Address
    dd #{user.email}
    h4 Phone Number
    if (user.phone_num)
      dd #{user.phone_num}
    else
      dd This user has not updated his phone number  
    h4 Jobs
    dl
    each job in user_jobs
      dt 
        a(href=job.url) #{job.title}
      dd #{job.description}
    
    else
      p This user has no jobs.
    if (user.tag.length>0)
      p #[strong Tag:] 
          each val in user.tag
              a(href=val.url) #{val.name}
              |,  
    hr
    if (current_user.url == user.url)
      p
        a(href=user.url+'/update') Update Profile
