extends header

block content
  title Update Profile
  center
    h1=title
    form(method='POST' action='')
        div.form-group
            label(for='summary') Personal Summary
            input#email.form-control(type='text', name='summary', value = ''+user.summary, placeholder='Briefly Tell Us About Yourself')  
        div.form-group
            label(for='email') Email
            input#email.form-control(type='email', name='email', value = ''+user.email, placeholder='Enter Email')
        div.form-group
            label(for='phone_num') Phone Number
            input#email.form-control(type='number', name='phone_num', value = ''+user.phone_num, placeholder='Enter Phone Number')
        div.form-group
            label(for='profile_img') Profile Image URL
            input#email.form-control(type='text', name='profile_img', value = ''+user.profile_img, placeholder='Enter Profile Image URL')  
        div.form-group
            label(for='date_of_birth') Date of birth:
            if (user.date_of_birth)
                input#date_of_birth.form-control(type='date', name='date_of_birth', value=user.date_of_birth.getFullYear()+'-'+(user.date_of_birth.getMonth()+1)+'-'+user.date_of_birth.getDate())
            else
                input#date_of_birth.form-control(type='date', name='date_of_birth')
        div.form-group
            label Tag:
            div
              for tag in tags
                div(style='display: inline; padding-right:10px;')
                  input.checkbox-input(type='checkbox', name='tag', id=tag._id, value=tag._id, checked=tag.checked )
                  label(for=tag._id) #{tag.name}
        div.form-group
        button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg