extends header

block content
  title #{user.name}
  left-box-align
    .container-fluid.page-header
      if (messageSent)
        .alert.alert-success #{messageSent}
      if (user.profile_img)
        img.eggmask.d-inline-block(src=''+ user.profile_img )
      h3.d-inline.ml-3 &#09; #{user.name}

    div(style='margin-left:20px;margin-top:20px')
    if (user.date_of_birth)
      h4.d-inline.tab Age &#09;
      dd.d-inline.tab #{user.age}
    h4 Summary
    if (user.summary)
      dd #{user.summary}
    else
      dd This user has not updated his summary
    if (user.infoDisplayConsent == true || current_user.id == user.id)
      h4 E-mail Address
      dd #{user.email}
      h4 Phone Number
      if (user.phone_num)
        dd #{user.phone_num}
      else
        dd This user has not updated his phone number
    else
      h4 Contact Details
      dd Submit the form below to enquire this person.
    h4 Jobs
    dl
    each job in user_jobs
      dt 
        a(href=job.url) #{job.title}
      dd #{job.description}
    
    else
      p This user has no jobs.
    if (user.tag.length > 0)
      p #[strong Tag:]
        each val in user.tag
          a(href=val.url) #{val.name}
          | ,
    hr
    if (current_user.url == user.url)
      p
        a(href=user.url + '/update') Update Profile
    else
      form(method='POST' action='')
        label(for='message') Send them a message:
        div.form-group
          p.full
            textarea.w-75(name='message', rows='5')
        button.btn.btn-primary.w-75(type='submit') Submit

